<p><i class="fa fa-twitter fa-lg fa-fw"></i> <a href="https://twitter.com/Pablo_Velasco_" target="_blank">@Pablo_Velasco_</a></p>
<p><i class="fa fa-github fa-lg fa-fw"></i> <a href="https://github.com/PabloVelas" target="_blank">@PabloVelas</a></p>
<p><i class="fa fa-laptop fa-lg fa-fw"></i> <a href="pablovelas.github.io" target="_blank">pablovelas</a></p>
<p><i class="fa fa-envelope-o fa-lg fa-fw"></i> <a href="mailto:pablo.velas.perez@gmail.com" target="_blank">pablo.velas.perez@gmail.com</a></p>